body {
    background: #0097a7;
    font-size: large;
}

body h3 {
    font-weight: bold;
}

body h4 {
    font-weight: bold;
}

label {
    font-size: large !important;
    font-weight: bold;
}

.input-field {
    margin-top: 0.1px !important;
}


#num_vecinos {
    margin-top: 0.1px !important;
}


span {
    font-size: medium !important;
}


#num_vecinos {
    border-color: #0097a7;
}

body button {
    margin-top: 1em;
    margin-bottom: 1em;
}

#table-scroll {
    overflow:scroll;
    max-height: 600px;
    max-width: 100%;
    position:relative; 
}

body h5 {
    margin-top: 2em;
    margin-bottom: 1em;
    font-weight: bold;
}

body p {
    margin-bottom: 1.5em;
}

#metrica {
    border-color: #00838f;
}

#prediccion {
    border-color: #00838f;
}

button {
    font-weight: bold; 
}

#mostrar_prediccion {
    font-weight: bold; 
}

